body{
	background-image: url("cor4.jpg");

}

h1{
	text-align: center;
	color: #704511;
    background-color:#d1cac2;
}


/* ----------------- nav bar ----------------------------*/
.menu{
     text-align: center;
     margin-left: auto;
     margin-right: auto;

}

.menu ul {
          display: inline-block;
          padding: 0;
          margin: 0;
          list-style: none;

          
}


.menu li {
          float: left;
          display: block;
          padding: 2em;
          background-color: #d1cac2;
          text-decoration: none;
          color: #704511;
     }


.menu ul li a:hover{
      background-color: #000000;
}


.menu ul li ul{
      display: none;
}


.menu ul li a:hover + ul , .menu ul li ul:hover{
          display: flex;
          flex-direction: column;
     }

/*----------------------------------------*/


.img_cent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.welcome_text{
    font-size: 50px;
    color: #d1cac2;
}



.tree_box{
    list-style: none;
    background-color:#d1cac2;
    width: fit-content;
    left: 20px;
}


footer{
     width: 100%;
     height: fit-content;
     bottom: 0;
     position: fixed;
     text-align: center;
}